nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: solid 1px rgb(222, 220, 220);
}

.logo-conatiner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-logo {
  width: 40px;
  height: 40px;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.nav-ul a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(8, 133, 206);
}

.nav-ul a:focus {
  text-decoration: underline;
}
